**/__pycache__
/.idea
/.venv
/keys
/executables
identity/account_details.temp.conf
/chrome_cache
/data
/caches
/configs/*
!/configs/example.config.ini
*.key
*_key.pem
.DS_Store

**/scripts/k8s/configs/gens/*